.carousel{
    height: 100vh;
}

.carousel-inner{
    height: 100%;
    display: flex;
}

.projectImage{
   width: 100%;
}

#frontGrid{
    max-width: 100% ;
}

#navbar{
    max-width: 100%;

}
#navCon{

}